<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>0x4F621D2A</integer>
	<integer>0x55199176</integer>
	<integer>0x2E693F84</integer>
	<integer>0x9538E86B</integer>
	<integer>0x6D1EA810</integer>
	<integer>0x5B52AE14</integer>
	<integer>0x9817F2FB</integer>
	<integer>0x60F14B85</integer>
	<integer>0xB973F1AD</integer>
	<integer>0x36C46F05</integer>
	<integer>0x6CBCC227</integer>	
</array>
</plist>
